.beer-card__image {
    height: 160px;
    width: auto !important;
    display: block;
    margin: 16px auto 0;
    object-fit: contain;
}

.beer-card__title {
    word-wrap: break-word;
    color: black;
    font-size: 14px;
    font-weight: 600;
}

.beer-card__tagline {
    height: 50px;
    word-wrap: break-word;
}

.beer-card__action > a {
    margin: 5px;
}